main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (width <= 48rem) {

main img {
   width: 328px;
   height: 328px;
    object-fit: cover;
}

main.container {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  padding-inline: 1rem;
  align-items: center;
}


}